@page "/"

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <!-- a image fore the indexpage -->
        <img class="full-width" src="/img/burgers3.jpg">

    </div>
</body>
</html>

<style>
    /* Container holding the image */
    .container {
        position: relative;
        width: 100vw;
        text-align: center;
        margin: 0;
        padding: 0;
        display: block;
    }

    /* Image with full width and no margin or padding */
    .full-width {
        width: 100vw; /* The width of the parent (.container). */
        height: auto;
        display: block;
        margin: 0;
        padding: 0;

    }


</style>

