<div style="display:flex; justify-content: space-around; text-align:center; border-bottom:2px solid gray;">
    <NavLink class="nav-link" href="AdminPanel">
        <h4 style="color:darkblue;">Admin Panel</h4>
    </NavLink>
    <NavLink class="nav-link" href="ShowProducts">
        <h4 style="color:darkblue;">Show Products</h4>
    </NavLink>
    <NavLink class="nav-link" href="ShowEmployees">
        <h4 style="color:darkblue;">Show Employees</h4>
    </NavLink>
    <NavLink class="nav-link" href="ShowCategories">
        <h4 style="color:darkblue;">Show Categories</h4>
    </NavLink>
    <NavLink class="nav-link" href="CustomerTraffic">
        <h4 style="color:darkblue;">Customer Traffic</h4>
    </NavLink>
</div>