<footer>
    <div class="footercontent">
        <div class="footerinfobox">
            <h3>Company</h3>
            <p>Hörnet, vår lilla korvmoj älskad av gamla veteraner och hatad av deras fruar. Ett underbart ställe att ta en öl och testa en meter lång korv, säg det till fruarn "wink wink"! Kolla gärna in alla Robins sociala medier, han uppskattar även hat över internät så håll inte tillbaka. Swajpa rätt håll på tinder!</p>
        </div>
        <div class="footerinfobox">
            <h3>Socials</h3>
            <a href="https://sv-se.facebook.com/photo/?fbid=10154777962313671&set=ecnf.736613670"><img src="/img/facebook.png" alt="error" style="width: 40px;"></a>
            <a href="https://www.youtube.com/watch?v=ISg_Qcd2x7Q"><img src="/img/twitter.png" alt="error" style="width: 40px;"></a>
            <a href="https://www.instagram.com/robin.rohman/"><img src="/img/instagram.jpg" alt="error" style="width: 40px;"></a>
            <a href="https://www.hitta.se/robin+lundh+rohman/lidk%C3%B6ping/person/yzgMRjCw-X"><img src="/img/Tinder.png" alt="error" style="width: 40px;"></a>
            <a href="https://se.linkedin.com/in/robin-rohman-523233266"><img src="/img/LinkedIn.jpg" alt="error" style="width: 40px;"></a>
        </div>
        <div class="footerinfobox">
            <h3>Contact us</h3>
            <p>Adress: Filsbäcksvägen 13, 531 70 Lidköping</p>
            <p>Email: Hornet@wecare.com</p>
            <p>Tele: +46723952740</p>
        </div>
    </div>
</footer>