@inherits LayoutComponentBase

<PageTitle>Hornet</PageTitle>

<div class="page">
 @*    <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div >
            <LoginDisplay />
        </div>
        <div>
            @Body
        </div>
        <div>
            <Footer />
        </div>
    </main>
</div>
