@page "/AboutUs"
<div class="container">
    <PageTitle>AboutUs</PageTitle>

    <h1 style="text-align:center;">Om oss</h1>
    <div style="display:grid; grid-template-columns: 1fr 1fr;">
        <div>
            <p>
                Välkommin te Hörnet – här står tia'n stilla, smakerna slår di rätt i trynet, och varje tugga ä som en riktigt saftig örfil mitt i facit! Sen vi öppna grindana första gången år 2023 har Hörnet vart som en jävla dans kring den här platsen, en ställe där sammanhållning, tradition och mat som tar inga fångar går jämnt ut.
            </p>
            <div style="display:grid; grid-template-columns: 1fr 1fr;">
                <div>
                    <img src="/img/LazyTown Suprised.jpg" style="text-align:center;" />
                    <p style="text-align:center;">(Co Founder of Hörnet)</p>
                </div>
                <div style="text-align:center;">
                    <p>
                        Hörnet ä inte bara en krog, det ä en riktig rebell mot allt tråkigt och mesigt. Vårt mål ä klart som korvspad – att slänga in di rätt in i en smakexplosion där varje jävla tugga ä som ett hejdundrande anfall på ditt smaklöksslagfält!
                    </p>
                    <p>
                        Vår meny ä som en arsenal av matkrig, fylld till bredden med klassiska burgare och korvar som är tillagade med en attityd större än själva Lidköping.
                    </p>
                </div>
            </div>
            <p>
                Råvarorna ä handplockade och kommer inte från nåt snofsigt ställe, utan från grannens trädgård eller bonde Johans åker. Det garanterar inte bara färskhet utan ä också ett jävla stöd te våra lokala legendarer – bönderna!
            </p>
            <p>
                Hörnets historia ä som en riktig skitstark revansch. Vårt namn, en hyllning te vårt hörnläge i staden, bär med sig åratal av överlevnad, vilda fester och smaksensationer som skulle få en gourmetkock att börja böla.
            </p>
            <div style="display:grid; grid-template-columns: 1fr 1fr;">
                <div>
                    <img src="/img/Hörnet.jpg" />
                    <p style="text-align:center;">(Hörnet Resturang)</p>
                </div>
                <div style="text-align:center;">
                    <p>
                        Vår krog ä mer än en matdestination, det ä en riktig hängout där vänner, familjer och alla som ä redo för en smakattack kan slå sej ner. Atmosfären på Hörnet ä som en jävla göttig gungning av dofter, ljud och smaker – en totalinvasion av dina sinnen!
                    </p>
                </div>
            </div>
            <p>
                Som en lokal rebellinstitution strävar vi efter att vara samhällets riktig omstörtare. Vi skiter i konventioner och stökar runt med ansvarstagande på vårt eget vis.
            </p>
            <p>
                Oavsett om du ä en återkommande krigare vid vårt bord eller vågar utmana smakfronten för första gången, ä du en del av Hörnets rebelliska arv. Släng dej vid våra bord och låt oss tillsammans skapa kaos, smaka på äventyr och göra denna matresa te en riktig jävla fest av smaker. Välkommen te Hörnet – där varje måltid ä en riktig go'bit direkt in i matrevolten!
            </p>
            <p>
                Kontakt information e längst ner på sida! Välkommen änna!
            </p>
        </div>
        <div>
            <img src="/img/emanuel.jpg" style="text-align:center;" />
            <p style="text-align:center;">(Co Founder of Hörnet)</p>
        </div>
        <p>
            Som en lokal rebellinstitution strävar vi efter att vara samhällets riktig omstörtare. Vi skiter i konventioner och stökar runt med ansvarstagande på vårt eget vis.
        </p>
        <p>
            Oavsett om du ä en återkommande krigare vid vårt bord eller vågar utmana smakfronten för första gången, ä du en del av Hörnets rebelliska arv. Släng dej vid våra bord och låt oss tillsammans skapa kaos, smaka på äventyr och göra denna matresa te en riktig jävla fest av smaker. Välkommen te Hörnet – där varje måltid ä en riktig go'bit direkt in i matrevolten!
        </p>
        <p>
            Kontakt information e längst ner på sida! Välkommen änna!
        </p>
    </div>
    <div>
        <img src="/img/emanuel.jpg" style="text-align:center; width:90%;"/>
        <p style="text-align:center;">(Co Founder of Hörnet)</p>
    </div>
    <img src="/img/gigachadlean.jpg" style="width:100%;" />
    <p style="text-align:center;">(Hörnets dörrvakt)</p>
</div>

<style>
    .container {
        max-width: 1200px;
        margin: 20px auto; /* Centering and adding a margin of 20px around the page. */
    }
</style>
