@using DataAccess.Models;
@using Hornet.Service;

@inject Hornet.Service.ProductService ProductService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject HttpClient httpclient
<PageTitle>Index</PageTitle>
<h1 style="text-align:center;">HÖRNET LEGENDER</h1>
<div style="display:grid; grid-template-columns: 1fr 1fr;">
    <h3 style ="text-align:center;">The one and only (allmänt go)</h3>
    <h3 style ="text-align:center;">ENHETEN THE FEROCIOUS/BEAST</h3>
    <img src="/img/OveSundberg.jpg" style="width:100%;"/>
    <img src="/img/emanuel.jpg" style="width:100%;"/>
</div>